*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing:border-box;
}
body{overflow: hidden;
}
header{
    background: linear-gradient(to left,black 30%,#15151515 29%);
    height: 100vh;
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: slideInLeft 1s ease-in-out;
}
.navbar .home a {
    color: rgb(155,146,146);
    text-decoration: none;
    margin-left: 20px;
    font-weight: 400;
    font-size: 1.2rem;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    animation: slideInLeft 1s ease-in-out;
}
.navbar .home a:first-child{
    color: red;
    border: none;
    animation: bounceIn 1s ease-in-out;
}
.navbar .home a img {
    width: 50px;
    animation: rotateIn 1s ease-in-out;
}